body{
  background-color: rgb(182, 189, 182);
  background-image: url(../Calculator/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#calc-contain{
  position: relative;
  width: 369px;
  border: 2px solid gray;
  background-color: #080e078f;
  border-radius: 12px;
  margin: 70px 455px;
  padding: 20px 1px 80px 10px;
  }
  
  input[type=button] {
    background: rgb(172, 160, 160);
    width: 19%;
    font-size: 20px;
    font-weight: 800;
    border-radius: 7px;
    margin-left: 13px;
    margin-top: 10px;
    border-style: solid;
}

  
  input[type=button]:active {
    background-color: #000000;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }
  input[type=button]:hover {
    background-color: #000000;
    color: rgb(209, 203, 203);
  }
  
  input[type = text] {
    position: relative;
    display: table-row;
    width: 90%;
    margin: 5px auto;
    border-radius: 13px;
    font-size: 20px;
    padding: 10px;
    box-shadow: -1px 0px 12px 0px grey inset;
  }